<div class="row">
  <div class="small-12 large-12 columns">
  	<p>
      <blockquote>
        This website is designed for archiving model experiments! The current
        form is experimental and changing, so you are welcome to contribute any
        idea to <a href="mailto:dongli@lasg.iap.ac.cn">me</a>. By the way, it
        is written from scratch by using Ruby on Rails (version 4.1.4), so it
        is in full control.
        <cite>Li Dong</cite>
      </blockquote>
  	</p>
  </div>
</div>
