<div class="row">
  <div class="small-12 large-12 columns">
  	<p>
      <strong>Li Dong: </strong>This website is designed for archiving
      experiments! It is still under construction! You are welcome to
      contribute any idea.<br>
      <strong>Li Dong: </strong>This website is written by using Ruby on Rails
      (version 4.1.4).
  	</p>
  </div>
</div>
