<div class="row">
  <div class="small-12 large-12 columns">
    <div class="panel">
      <h3>Words from author</h3>
      <blockquote>
        <p>
          This website is designed for archiving model experiments! The current
        form is experimental and changing, so you are welcome to contribute any
        idea to
          <a href="mailto:dongli@lasg.iap.ac.cn">me</a>. By the way, it
        is written from scratch by using Ruby on Rails (version 4.1.4), so it
        is in full control.
        </p>
        <p>
          Currently there are three user roles:
          <i>admin</i>,
          <i>author</i>
          and
          <i>guest</i>. Only admin and author can modify contents (e.g. add
          experiment). Each new user registers as a guest. So look around and
          gain some feelings about this website. When you want to be an author,
          you can email to
          <a href="mailto:dongli@lasg.iap.ac.cn">me</a>.
        </p>
        <p>
          To better make users know each other, it would be great if a proper
        head portrait is provied through
          <a href="https://secure.gravatar.com">Gravatar</a>.
        </p>
        <p>
          Thank you for your attention!
        </p>
        <p>
          注：目前先仅支持英文版，为的是更好地传播，中文支持可以在随后加入，不过可能会增加维护负担。
        </p>
        <cite>Li Dong</cite>
      </blockquote>
    </div>
    <div class="panel">
      <h3>Development plan</h3>
      <ul class="checkbox-list">
        <li><%= fa_icon 'check-square-o' %>
          Add API for this website so that we can access it through
          <i>curl</i>.</li>
        <li><%= fa_icon 'check-square-o' %>
          After finish API, write a script to upload the figures produced by
          NCAR AMWG diagnostics package for easy sharing model results.</li>
        <li><%= fa_icon 'square-o' %>
          Organize the figures in a more readable way, and provide search functionality.</li>
      </ul>
    </div>
  </div>
</div>
