<div class="row">
  <div class="small-12 medium-12 small-centered columns">
    <div class="panel">
      <h1>Dashboard</h1>
      <p>
        <%= link_to "Manage users", users_path, class: "button radius" %>
      </p>
    </div>
  </div>
</div>
