<div class="row">
  <div class="small-12 small-centered columns">
    <h1>Models</h1>
    <p>
      <table>
        <thead>
          <tr>
            <th width="200">Title</th>
            <th width="200">Contact</th>
          </tr>
        </thead>
        <tbody>
          <% @models.each do |m| %>
            <tr>
              <td><%= link_to "#{m.title}", model_path(m) %></td>
              <td><a href="mailto:<%= m.email %>"><%= m.contact %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <% if can? :create, Model %>
      <p>
        <span data-tooltip data-options="disable_for_touch:true" class="has-tip" title="Create an new model.">
          <a href="<%= new_model_path %>", class="button radius">
            <i class="fa fa-plus-square"></i>
          </a>
        </span>
      </p>
    <% end %>
  </div>
</div>
