label.right {
	padding-right: 10px;
}

h1 {
	font-size: 2em;
	font-weight: "bold";
}

p {
    margin: 1em;
}

table {
    margin: 1em;
    width: 95%;
}

table.profile {
	width: 95%
}

table.profile td.key {
	width: 20%
}
table.profile td.value {
	width: 60%;
}

figure {
    text-align: center;
}

figcaption {
	margin: 1em;
}

div.panel {
	margin: 1em;
}

div.panel.diag {
	text-align: center;
	background: scale-color(#EA4B3D, $lightness: 25%);
}

div.panel.diag:hover {
	background: #EA4B3D;
}

div.alert-box.warning {
    color: red;
    font-weight: bold;
    margin: 1em;
}

ul.checkbox-list {
    list-style-type: none;
}

img.gravatar {
    border-radius: 15px;
}

nav.breadcrumbs {
    margin: 1em;
}

.footer {
    margin-top: 1em;
    padding: 1em;
    border-top: 2px solid #000;
    text-align: center;
}

// For sticky footer:
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 4em;
}

.footer, .push {
    height: 4em;
}

